.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h1,
h2,
h3 {
  font-family: 'Pacifico', cursive;
}

a, a:hover, a:visited, a:active {
  color: gray;
}