#friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#friends-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
}
#friends-list.green #friends-header {
  border-bottom-color: teal;
}
#friends-list.purple #friends-header {
  border-bottom-color: blueviolet;
}

#friends-header > div {
  font-weight: bold;
  flex: 0 1 auto;
  width: 45px;
  padding: 0 1rem;
  text-align: left;
  word-wrap: break-word;
  border-right: 1px solid;
  font-size: 0.8rem;
}
#friends-list.green #friends-header>div {
  border-right-color: teal;
}
#friends-list.purple #friends-header>div {
  border-right-color: blueviolet;
}

#friends-header > .friend-column {
  padding: 0 1rem;
  flex: 0 1 auto;
  width: 300px;
  transform: none;
}

#friends-rows {
  height: 300px;
  overflow-y: scroll;
}